{# Template for DNS configuration #}
{% if dns_enabled %}
set / system dns network-instance {{ dns_network_instance }}
{% for server in dns_servers %}
set / system dns server-list {{ server }}
{% endfor %}
{% if dns_search_domains | length > 0 %}
{% for domain in dns_search_domains %}
set / system dns search-list {{ domain }}
{% endfor %}
{% endif %}
{% endif %}

