{# Template for DNS configuration #}
{# SR Linux expects server-list and search-list as bracketed lists #}
{% if dns_enabled %}
set / system dns network-instance {{ dns_network_instance }}
{% if dns_servers | length > 0 %}
set / system dns server-list [ {{ dns_servers | join(' ') }} ]
{% endif %}
{% if dns_search_domains | length > 0 %}
set / system dns search-list [ {{ dns_search_domains | join(' ') }} ]
{% endif %}
{% endif %}

