{# System configuration template for Nokia SR Linux #}
{# Configures system information (location, contact) #}

set / system information location "{{ system_location }}"
set / system information contact "{{ system_contact }}"

